<!DOCTYPE html>
<html>
  <head>
    <title>Nofile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless flash.empty? %>
      <% flash.each do |f| %>
        <% type = f[0].to_s %>
        <% message = f[1].to_s %>
        <%= flash_toastr %>
      <% end %>
      <!-- <script type="text/javascript">
        <% flash.each do |f| %>
        <% type = f[0].to_s %>
        toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      </script> -->
    <% end %>

    <%= yield %>
  </body>
</html>
